<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Festify+</title>
    <meta name="description" content="Which festival should I go to?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="app" class="p-3" style="height:100vh; width:100vw; text-align:center; color:white; background-color:#191414; font-family:'Montserrat', sans-serif;">
        <span style="color:#1DB954; font-weight:600; font-size: 60px; text-shadow: -0.5px 0.5px, 0.5px 0.5px, 0.5px -0.5px, -0.5px -0.5px; letter-spacing:-1px;">Festify+</span> <br>
        <span style="font-weight: 800; font-size: 70px; color: white;display: inline; position: relative;">404</span><br>
        <span style="font-weight: 800; font-size: 70px; color: white;display: inline; position: relative;">It seems you've encountered an error!</span>
    </div>
    </body>
</html>