/* ******************************************************************* */
/* Targeting by tag */
html, body {
  height:100%;
}

html {
  font-family:'Montserrat', sans-serif;
}

h1 {
  font-size: 1.5rem !important;
}

h2 {
  font-size: 1.2rem !important;
}

h3 {
  font-size: 0.8rem !important;
}

h4 {
  font-size: 0.6rem !important;
}

circle {
  fill: #ffffff;
  stroke-width: 6.5;
  stroke: #1db954;
  stroke-opacity: 0;
}


/* ******************************************************************* */
/* Targeting by class */
g.toggled circle {
  fill: #1db954;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app .display-picture-dropdown {
  background-color: transparent;
  border: none;
}

#app .display-picture-dropdown .dropdown-item {
  transform: translate(26px, -28px);
}

#app .display-picture-dropdown .dropdown-item:hover,
#app .display-picture-dropdown .dropdown-item:focus {
  background-color: transparent;
  border: none;
}

#result-container.show-more {
  top:calc(-100% - 45px);
}

#app #show-more.show-more {
  animation: none;
}

.other-festival {
  background-color: transparent !important;
  border: none !important;
}

.other-festival-header {
  border-color: transparent !important;
}

.other-festival-header > a {
  height: 70px;
  padding: 0;
  text-align: left;
  font-family: 'CoreCircus', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#menu-arrow.hover {
  transform: translateY(25px);
}

#lineup-modal .share-body {
  position: absolute;
  height: 100%;
}


/* ******************************************************************* */
/* Targeting by ID */
#app {
  height:100%; 
  overflow: hidden;
}

#app-container {
  height:calc(100% - 90px); 
  margin-top: 70px;
}

#logo {
  position:absolute; 
  left:10px; 
  top:10px; 
  width:80px; 
  background-size:80px; 
  min-height:80px; 
  background-repeat: no-repeat; 
  background-image: url(../V-Logo.png)
}

#brand-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}

#brand {
  position:absolute; 
  left:67px; 
  top:7.5px;
  color:#fff; 
  font-weight:600; 
  font-size: 48px;
}

#login {
  max-width: 250px;
  max-height: 80%;
}

#profile {
  position: fixed; 
  top: 2px; 
  right: -5px;
}

#display-picture {
  border:#1DB954 solid 4px; 
  border-radius: 50%; 
  display: block; 
  width: 60px;
}

#menu-arrow {
  transition: all .2s ease;
}

#world-map {
  max-height: 105%;
  width:100vw; 
  position:absolute; 
  top:calc(50% - 1.5rem); 
  left:50%; 
  transform: translate(-50%, -45%);
  opacity: 1;
}

#result-container {
  height: calc(200% + 100px); 
  width: 88%; 
  position: absolute; 
  top: -5px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: rgba(0,0,0,0.6);
  transition: all .3s ease;
}

#show-more {
  position: absolute; 
  top:calc(50% - 65px); 
  left: 50%; 
  transform: translate(-50%);
  animation: bounce 2s;
  animation-delay: 3s;
  cursor: pointer;
}

#share {
  position: absolute; 
  top: calc(50% - 65px); 
  right: 15px; 
  transform: translate(-50%);
}

#more {
  position: absolute; 
  bottom: 32px; 
  height:calc(50% - 10px); 
  width:100%;
}

#other-festivals {
  max-height: calc(100% - 70px); 
  overflow-x: hidden;
}

#lineup-modal h6 {
  font-size: 25px !important;
}

/* ******************************************************************* */
/* Media queries to target different sized devices */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #app h6.title {
    font-size: 40px !important;
    max-width: 90%;
  }

  #display-picture {
    width: 70px;
  }

  #lineup-modal h6{
    font-size: 35px !important;
  }

  #modal-matches{
    font-size: 1.1rem !important;
  }
  #download-lineup-btn{
    font-size: 0.8rem !important;
    bottom: -50px !important;
    max-width: 350px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }

  h4 {
    font-size: 0.75rem !important;
  }

  #app h6.title {
    font-size: 40px !important;
    max-width: 60%;
  }

  #display-picture {
    width: 80px;
  }

  #lineup-modal h6{
    font-size: 30px !important;
  }

  #modal-matches{
    font-size: 1.2rem !important;
  }

  #download-lineup-btn{
    font-size: 0.8rem !important;
    bottom: -50px !important;
    max-width: 350px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app h6.title {
    font-size: 55px !important;
  }

  #display-picture {
    width: 90px;
  }


  #lineup-modal h6{
    font-size: 50px !important;
  }

  #modal-matches{
    font-size: 1.8rem !important;
  }

  #download-lineup-btn{
    font-size: 1.2rem !important;
    bottom: -60px !important;
    max-width: 500px !important;
    border-radius: 30px !important;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #app h6.title {
    font-size: 65px !important;
    max-width: 60%;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  #display-picture {
    width: 100px;
  }
}

/* XXL devices (extra large desktops, 1500px and up) */
@media (min-width: 1500px) {
  #app h6.title {
    font-size: 80px !important;
  }
}


/* ******************************************************************* */
/* Media queries to target mobile devices in landscape */
/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) and (orientation: landscape) {
  #app #app-container #result-container h6.title {
    font-size: 30px !important;
    max-width: 80% !important;
  }
}

/* Small devices (desktops, 768px and below) */
@media (max-width: 768px) and (orientation: landscape) {
  #app #app-container h6.title {
    font-size: 40px !important;
    max-width: 80% !important;
  }
}

/* Medium devices (desktops, 992px and below) */
@media (max-width: 992px) and (orientation: landscape) {
  h1 {
    font-size: 1.5rem !important;
  }

  #app #display-picture .shrink-enter {
    width: 200px !important;
  }  

  #app #app-container {
    height: calc(100% - 20px); 
    margin-top: 10px;
  }

  /* #app #result-container.show-more */

  #app #brand-wrapper #brand {
    display: none !important;
  }

  #result-container.show-more {
    top:calc(-100% + 23px) !important;
  }

  #show-more, #share {
    top: calc(50% - 75px); 
  }
}

/* Large devices (desktops, 992px and below) */
/* @media (max-width: 1200px) and (orientation: landscape) {
  #app h6.title {
    font-size: 55px !important;
    max-width: 80%;
  }

  /* #app #show-more {
    top: calc(50% - 80px); 
  } 
} */


/* ******************************************************************* */
/* Specific media queries */
/* targeting desktop browsers */
@media (hover: hover) {
  g:hover circle{
    fill: #1db954;
    cursor: pointer;
  }

  g.toggled:hover circle {
    fill: #158a3e;
  }
}

/* targeting touchscreen browsers */
@media (hover: none) {
  g.gb circle {
    stroke-width: 70;
  }
}


/* ******************************************************************* */
/* Final screen text effect copied from Mandy Michael's CodePen  */
h6.title {
  max-width: 100%;
  font-family: "CoreCircus", sans-serif;
  text-transform: uppercase;
  font-size: 30px !important;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-51%);
          transform: translate(-51%);
  position: relative;
  color: #f98ca4;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283, 2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283, 2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283, 5px 4px 0px #65f283, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58;
}

h6.title:after, h6.title:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 5;
}

h6.title:before {
  text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c, 1px 1px 0 #9e132c, 1px 0px 0px #f5b10b, 0px 1px 0px #f5b10b, 2px 1px 0px #f5b10b, 1px 2px 0px #f5b10b, 3px 2px 0px #f5b10b, 2px 3px 0px #f5b10b, 4px 3px 0px #f5b10b, 3px 4px 0px #f5b10b, 5px 4px 0px #f5b10b, 3px 5px 0px #9e132c, 6px 5px 0px #9e132c, -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0px #9e132c, 2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0px #9e132c, 6px 3px 0 #9e132c, 7px 4px 0 #9e132c;
  color: #65f283;
  height: 66%;
}

h6.title:after {
  height: 33%;
  color: #4ad9db;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #f98ca4, 2px 1px 0px #f98ca4, 1px 2px 0px #f98ca4, 3px 2px 0px #f98ca4, 2px 3px 0px #f98ca4, 4px 3px 0px #f98ca4, 3px 4px 0px #f98ca4, 5px 4px 0px #f98ca4, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
}

@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircusPierrot4";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.ttf") format("truetype");
}


/* ******************************************************************* */
/* animations and transitions */
#app {
  transition: background-position .7s cubic-bezier(.54,.01,.43,1);
}

.move-enter-active {
  transition: all .6s;
  transition-delay: 1.25s;
}

#app .move-enter {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.shrink-enter-active {
  transition: all .6s;
  transition-delay: 1.25s;
}

#app .shrink-enter {
  width: 300px !important;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0); }
  40% {
    transform: translate(-50%, -30px); }
  60% {
    transform: translate(-50%, -15px); 
  } 
}

#app .slide-fade-down-enter-active {
  transition: all .3s ease;
  transition-delay: 2.4s;
}
#app .slide-fade-down-enter, .slide-fade-down-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

#app .slide-fade-up-enter-active {
  transition: all .3s ease;
  transition-delay: 2.4s;
}
#app .slide-fade-up-enter, .slide-fade-up-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(40px);
  opacity: 0;
}


/* ******************************************************************* */
/* Welcome to fastfest scrolling text */
.Iam {
  /* font: 40px/50px Montserrat, sans-serif; */
  font-size: 42px;
  color: #999;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translate(-50%) scale(1.5); 
}

.Iam > span {
  padding-bottom: 3px !important;
}

.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}

.Iam .innerIam {
  display: inline-block;
  color: #fff;
  position: relative;
  white-space: nowrap;
  top: -8px;
  left: 0;
  animation: move 7s;
  animation-iteration-count: infinite;

}
@keyframes move{
0%  { top: -8px; }
25% { top: -8px; }
40% { top: -72px; }
55% { top: -136px; }
70% { top: -200px; }
85% { top: -264px; }
}


/* WELCOME TEXT */

.typing-container{
  top: 50%;
}

.typed-text {
  transform: scale(2);
  font-weight: 700 !important;
}

.underscore{
  font-family:'Montserrat', sans-serif;
  font-size:1em;
  display:inline-block;
  position:relative;
  top:-0.14em;
  animation: blink 1s infinite;
}

@keyframes blink{
  49% {color: #fff;}
  50% {color: transparent;}
  99% {color: transparent;}
}

.lineupModal > .modal-dialog > .modal-content {
  height:0;
  width:80%;
  padding-bottom:80%;
  font-family: 'CoreCircus', sans-serif;
  margin: auto;
}

#download-lineup-container{
  position: absolute; 
  left: 50%;
  bottom: -40px;
  transform:translateX(-50%);
  color: white;
  width:500px;
}

#download-lineup-container span{
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/* 
#download-lineup-btn{
  font-size: 0.6rem;
  position: absolute; 
  left: 50%;
  bottom: -40px;
  border-radius: 18px; 
  color:white;
  max-width: 250px;
  transform:translateX(-50%);
} */

#download-lineup-btn:hover{ 
  color: black;
  cursor: pointer;
}