/* ******************************************************************* */
/* Targeting by tag */
html, body {
  height:100%;
}

html {
  font-family:'Montserrat', sans-serif;
}

h1 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1rem !important;
}

circle {
  fill: #ffffff;
  stroke-width: 6.5;
  stroke: #1db954;
  stroke-opacity: 0;
}


/* ******************************************************************* */
/* Targeting by class */
g.toggled circle {
  fill: #1db954;
}

#app .display-picture-dropdown {
  background-color: transparent;
  border: none;
}

#app .display-picture-dropdown .dropdown-item {
  transform: translate(26px, -8px);
}

#app .display-picture-dropdown .dropdown-item:hover,
#app .display-picture-dropdown .dropdown-item:focus {
  background-color: transparent;
  border: none;
}

/* ******************************************************************* */
/* Targeting by ID */
#app {
  height:100%; 
  overflow: hidden;
}

#app-container {
  height:calc(100% - 90px); 
  margin-top: 90px;
}

#logo {
  position:absolute; 
  left:10px; 
  top:10px; 
  width:100px; 
  background-size:100px; 
  min-height:100px; 
  background-repeat: no-repeat; 
  background-image: url(V-Logo.png)
}

#brand {
  position:absolute; 
  left:82px; 
  top:13px;
  color:#fff; 
  font-weight:600; 
  font-size: 55px;
}

#login {
  max-width: 250px;
  max-height: 80%;
}

#display-picture {
  position:fixed; 
  top: 2px; 
  right: -5px;
}

#world-map {
  max-height: 105%;
  width:100vw; 
  position:absolute; 
  top:calc(50% - 1.5rem); 
  left:50%; 
  transform: translate(-50%, -50%);
}


/* ******************************************************************* */
/* Media queries to target different sized devices */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #app h6 {
    font-size: 40px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }

  #app h6 {
    font-size: 40px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app h6 {
    font-size: 40px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #app h6 {
    font-size: 50px !important;
  }
}

/* XXL devices (extra large desktops, 1500px and up) */
@media (min-width: 1500px) {
  #app h6 {
    font-size: 60px !important;
  }
}


/* ******************************************************************* */
/* Media queries to target mobile devices in landscape */
/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) and (orientation: landscape) {

}

/* Small devices (desktops, 768px and below) */
@media (max-width: 768px) and (orientation: landscape) {

}

/* Medium devices (desktops, 992px and below) */
@media (max-width: 992px) and (orientation: landscape) {
  #app-container {
    height:calc(100% - 20px); 
    margin-top: 20px;
  }

  #brand {
    display: none !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  #app h6 {
    top: 70px;
  }

  #app #display-picture .shrink-enter {
    width: 200px !important;
  }
}


/* ******************************************************************* */
/* Specific media queries */
/* targeting desktop browsers */
@media (hover: hover) {
  g:hover circle{
    fill: #1db954;
    cursor: pointer;
  }

  g.toggled:hover circle {
    fill: #158a3e;
  }
}

/* targeting touchscreen browsers */
@media (hover: none) {
  g.gb circle {
    stroke-width: 70;
  }
}


/* ******************************************************************* */
/* Final screen text effect copied from Mandy Michael's CodePen  */
h6{
  font-family: "CoreCircus", sans-serif;
  text-transform: uppercase;
  font-size: 30px !important;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #f98ca4;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283, 2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283, 2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283, 5px 4px 0px #65f283, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58;
}

h6:after, h6:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 5;
}

h6:before {
  text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c, 1px 1px 0 #9e132c, 1px 0px 0px #f5b10b, 0px 1px 0px #f5b10b, 2px 1px 0px #f5b10b, 1px 2px 0px #f5b10b, 3px 2px 0px #f5b10b, 2px 3px 0px #f5b10b, 4px 3px 0px #f5b10b, 3px 4px 0px #f5b10b, 5px 4px 0px #f5b10b, 3px 5px 0px #9e132c, 6px 5px 0px #9e132c, -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0px #9e132c, 2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0px #9e132c, 6px 3px 0 #9e132c, 7px 4px 0 #9e132c;
  color: #65f283;
  height: 66%;
}

h6:after {
  height: 33%;
  color: #4ad9db;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #f98ca4, 2px 1px 0px #f98ca4, 1px 2px 0px #f98ca4, 3px 2px 0px #f98ca4, 2px 3px 0px #f98ca4, 4px 3px 0px #f98ca4, 3px 4px 0px #f98ca4, 5px 4px 0px #f98ca4, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
}

@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircusPierrot4";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.ttf") format("truetype");
}


/* ******************************************************************* */
/* animations and transitions */
#app {
  transition: background-position .7s cubic-bezier(.54,.01,.43,1);
}

.move-enter-active {
  transition: all .6s;
  transition-delay: 1.5s;
}

#app .move-enter {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.shrink-enter-active {
  transition: all .6s;
  transition-delay: 1.5s;
}

#app .shrink-enter {
  width: 300px !important;
}

/* .bounce-enter-active {
  animation: bounce-in 1.2s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} */